body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
}

#planner-content {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #007bff;
}

.tag-options {
    margin-top: 20px; /* Increase spacing between radio buttons */
    display: flex;
    justify-content: center; /* Center-align tags */
}

.edit{
    width:33%
}

.tag-options label {
    display: inline-block;
    margin: 30%; /* Increase spacing between radio buttons */
    padding: 8px 15px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tag-options label:hover {
    background-color: #0056b3;
}

.tag-options input {
    display: none;
}

.tag-options input:checked + label {
    background-color: #0056b3;
}

.tag-container {
    display: inline-block;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    display: -webkit-inline-box;
}

.tag-container2 {
    display: inline-block;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Display children in a column layout */
    align-items: center; /* Center children horizontally */
}

h2 {
    color: #007bff;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%; /* Occupy the full width of the tag container */
}

li {
    margin-bottom: 10px;
    width: 100%; /* Occupy the full width of the list item */
}

.note {
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Occupy the full width of the list item */
}

#notes-container{
    display: flex;
}
.radio-container label{
    padding: 2px;
}

.tag-container label{
    font-size: small;
    padding: 2px;
}

#note-input{
    width:60%;
    height:80%;
}


#add-note {
    width: 50%;
    padding: 10px;
    font-size: 14px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#add-note:hover {
    background-color: #45a049;
}